*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(246, 245, 255);
  z-index:-100;
  /* opacity: 0.3; */
}
.app{
  display: flex;
  min-height: 100vh;
}